.container {
  padding: 2rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.title {
  color: #ffcc00;
  text-align: center;
}

.sectionTitle {
  color: #ffcc00;
}

.sectionContent {
  color: #fff;
}

.loadingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.errorContainer {
  margin-top: 20px;
}
